@page
@model _21810203.Pages.add_loaihangModel
@{
}
<div class = 'container'>
	<form class = 'form-control' method = 'post'>
		<input type='text' name = 'loaihang' placeholder='Nhap Loai Hang'/>
		<input type='submit' value = 'Luu' class ='btn btn-primary'/>
	</form>
	@Model.thongbao
</div>