@page
@model _21810203.Pages.DeleteLHModel
@{
}
<div class='container'>
	<form class ='form-control' method = 'post'>
		<p> Are you sure to delete?</p>
		<input type = 'submit' class = 'btn btn-primary' value = "Xac Nhan"/>
		<a href = '/add_loaihang' class='btn btn-primary'>Back</a>
	</form>
</div>