@page
@model _21810203.Pages.delete_productModel
@{
}
<div class='container'>
	<form method ='post' class = 'form-control'>
		<label>Confirm to delete the product?</label>
		<input type = 'submit' value ='Delete' class ='btn-danger btn' />
	</form>
	<p>@Model.name</p><p> @Model.id</p>
</div>