@page
@model _21810203.Pages.nhap_hangModel
@{
}
<div class ='container'>
    
    
   
	<form method="post">
         <h4>Nhap San Pham</h4>
          <label class = 'mb-2'>Chọn sản phẩm</label>
        <div class = 'row'>
           
           <div class = 'col-2'> <select name='tenhang' class = 'form-control'>
                @if(Model.CuaHang != null)
                {
                   foreach(var prod in Model.CuaHang)
                    {
                        foreach(var item in prod.dsach)
                        {
                            if(item.isDeleted == false)
                            {
                                 <option>@item.name</option>
                            }
                        }
                    } 
                }               
            </select></div>
           <div class='col-3'>
               <input type = 'number' name='soluong' class = 'form-control' placeholder='Số lượng' />
            </div>
          
        </div>
    
    <input type='submit' class='btn-sm btn-primary mt-3' value='Them Hang' />
</form>
</div>
@Model.thongbao
